# City: Amsterdam

__1. What's the most expensive listing? What else can you tell me about the listing?__

The most expensive listing is in IJburg - Zeeburgereiland at 5000 euros, hosted by Marianne in IJburg - Zeeburgereiland and its a private room.

SELECT
	name,
	neighbourhood,
	room_type,
	price
FROM
	listings
ORDER BY price DESC

__2. What neighborhoods seem to be the most popular?__

De Baarsjes - Oud-West is the most popular neighborhood for AirBnB in Amsterdam.

SELECT
	name,
	neighbourhood,
	room_type,
	number_of_reviews
FROM
	listings
ORDER BY number_of_reviews DESC

__3. What time of year is the cheapest time to go to your city? What about the busiest?__

The cheapest time of the year to go to Amsterdam is in July.

SELECT
	DATE(date) date,
	AVG(price) avg_price
FROM
	calendar
GROUP BY 1
ORDER BY 2

The busiest time of the year is on 2019-07-06.

SELECT
	DATE(date) date,
	COUNT(available) available
FROM
	calendar
WHERE available = 1
GROUP BY 1
ORDER BY 2

To change column headers and column types:

CREATE TABLE listings1(
    id PRIMARY KEY NOT NULL,
	name NOT NULL,
	host_id INT NOT NULL,
	host_name NOT NULL,
	neighborhood_group NOT NULL,
	neighbourhood NOT NULL,
	latitude INT NOT NULL,
	longitude INT NOT NULL,
	room_type NOT NULL,
	price INT NOT NULL,
	minimum_nights INT NOT NULL,
	number_of_reviews INT NOT NULL,
	last_review NOT NULL,
	reviews_per_month INT NOT NULL,
	calculated_host_listings_count INT NOT NULL,
	availability_365 INT NOT NULL
)

INSERT INTO listings1(
	id,
	name,
	host_id,
	host_name,
	neighborhood_group,
	neighbourhood,
	latitude,
	longitude,
	room_type,
	price,
	minimum_nights,
	number_of_reviews,
	last_review,
	reviews_per_month,
	calculated_host_listings_count,
	availability_365)
 SELECT 
	field1, 
	field2, 
	field3, 
	field4, 
	field5, 
	field6, 
	field7, 
	field8, 
	field9, 
	field10, 
	field11, 
	field12, 
	field13, 
	field14, 
	field15, 
	field16
 FROM listings
 
 DROP TABLE listings1
 
 ALTER TABLE listings1 RENAME TO listings