In [1]:
import math

from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
import scipy
import statsmodels.formula.api as smf
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action='ignore', module='scipy', message='^internal gelsd')

In [2]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [3]:
# Delete first three rows
df = df.drop([0,1,2], axis=0)

# Make first row the column headers
df = df.reset_index(drop=True)
df.columns = df.iloc[0]
df = df.drop([0], axis=0)
df = df.reset_index(drop=True)

# Rename all column headers
df.columns = ['City', 'Population', 'Violent Crime', 'Murder and Nonnegligent Manslaughter', 'Rape (revised definition)', 'Rape (legacy definition)', 'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-Theft', 'Motor Vehicle Theft', 'Arson']

# Remove entire Unnamed: 4 or 'Rape revised defintion'
df = df.drop('Rape (revised definition)', axis=1)

# Remove null objects
df = df.drop([348, 349, 350], axis=0)
df = df.drop('Arson', axis=1)
df = df.dropna(how='all')

# Convert all columns from object to integer values
df[['Population', 'Violent Crime',
       'Murder and Nonnegligent Manslaughter', 'Rape (legacy definition)',
       'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary',
       'Larceny-Theft', 'Motor Vehicle Theft']] = df[['Population', 'Violent Crime',
       'Murder and Nonnegligent Manslaughter', 'Rape (legacy definition)',
       'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary',
       'Larceny-Theft', 'Motor Vehicle Theft']].astype(int)

# Remove New York and buffalo from data because it skews the data. Although the data is correct
df[df['City'] == 'New York']
df = df[df['City']!='New York']

# Change name of Property Crime so that it's one word
df['Propertycrime'] = df['Property Crime']
df = df.drop(columns=['Property Crime'])

In [4]:
# Create Features: Population^2, Murder binary, Robbery, binary
# More specifically, create binary categories for murder and robery
df['Population^2'] = df['Population']**2
df['Murder'] = np.where(df['Murder and Nonnegligent Manslaughter']>0, '1', '0')
df['Robbery_binary'] = np.where(df['Robbery']>0, '1', '0')
df

,City,Population,Violent Crime,Murder and Nonnegligent Manslaughter,Rape (legacy definition),Robbery,Aggravated Assault,Burglary,Larceny-Theft,Motor Vehicle Theft,Propertycrime,Population^2,Murder,Robbery_binary
0,Adams Village,1861,0,0,0,0,0,2,10,0,12,3463321,0,0
1,Addison Town and Village,2577,3,0,0,0,3,3,20,1,24,6640929,0,0
2,Akron Village,2846,3,0,0,0,3,1,15,0,16,8099716,0,0
3,Albany,97956,791,8,30,227,526,705,3243,142,4090,9595377936,1,1
4,Albion Village,6388,23,0,3,4,16,53,165,5,223,40806544,0,1
5,Alfred Village,4089,5,0,0,3,2,10,36,0,46,16719921,0,1
6,Allegany Village,1781,3,0,0,0,3,0,10,0,10,3171961,0,0
7,Amherst Town,118296,107,1,7,31,68,204,1882,32,2118,13993943616,1,1
8,Amityville Village,9519,9,0,2,4,3,16,188,6,210,90611361,0,1
9,Amsterdam,18182,30,0,0,12,18,99,291,15,405,330585124,0,1
10,Arcade Village,2053,0,0,0,0,0,3,35,1,39,4214809,0,0
11,Ardsley Village,4523,5,0,0,3,2,4,28,1,33,20457529,0,1
12,Asharoken Village,658,0,0,0,0,0,0,2,0,2,432964,0,0
13,Attica Village,2522,2,0,0,0,2,0,4,1,5,6360484,0,0
14,Auburn,27270,96,1,20,22,53,132,721,6,859,743652900,1,1
15,Avon Village,3333,1,0,0,1,0,3,20,2,25,11108889,0,1
16,Baldwinsville Village,7473,5,0,0,1,4,10,77,1,88,55845729,0,1
17,Ballston Spa Village,5418,8,0,0,3,5,16,78,0,94,29354724,0,1
18,Batavia,15374,57,0,7,13,37,103,454,2,559,236359876,0,1
19,Bath Village,5733,15,0,1,3,11,32,157,2,191,32867289,0,1
20,Bedford Town,17627,5,0,0,1,4,26,127,3,156,310711129,0,1
21,Bethlehem Town,34243,13,0,0,3,10,50,388,4,442,1172583049,0,1
22,Binghamton,46304,284,3,19,101,161,525,1767,57,2349,2144060416,1,1
23,Black River,1410,0,0,0,0,0,2,12,0,14,1988100,0,0
24,Blooming Grove Town,12001,8,0,1,0,7,20,72,7,99,144024001,0,0
25,Bolivar Village,1022,1,0,0,0,1,2,2,0,4,1044484,0,0
26,Bolton Town,2325,2,0,0,0,2,4,20,0,24,5405625,0,0
27,Boonville Village,2054,1,0,0,0,1,6,14,0,20,4218916,0,0
28,Brant Town,2065,4,0,0,1,3,9,20,2,31,4264225,0,1
29,Brewster,2358,0,0,0,0,0,3,10,0,13,5560164,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,3,22,59,2,83,13264164,0,0
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,378225,0,0
320,Ulster Town,12195,14,0,3,2,9,25,410,2,437,148718025,0,1
321,Utica,61686,361,7,27,102,225,449,1997,82,2528,3805162596,1,1
322,Vestal Town,27980,16,0,2,6,8,39,523,9,571,782880400,0,1
323,Walden Village,6887,18,1,2,1,14,13,124,5,142,47430769,1,1
324,Wallkill Town,27940,40,0,3,16,21,91,650,26,767,780643600,0,1
325,Walton Village,3012,6,0,1,0,5,18,50,0,68,9072144,0,0
326,Warsaw Village,3453,6,0,1,0,5,5,73,0,78,11923209,0,0
327,Washingtonville Village,5828,2,0,0,1,1,5,51,2,58,33965584,0,1
328,Waterford Town and Village,8392,4,0,0,0,4,6,52,1,59,70425664,0,0
329,Waterloo Village,5175,11,0,0,3,8,23,169,2,194,26780625,0,1
330,Watertown,28179,109,0,12,16,81,169,953,43,1165,794056041,0,1
331,Watervliet,10245,26,1,3,11,11,58,163,21,242,104960025,1,1
332,Watkins Glen Village,1862,6,0,0,0,6,10,80,2,92,3467044,0,0
333,Waverly Village,4337,5,0,0,1,4,9,41,4,54,18809569,0,1
334,Webster Town and Village,43777,21,0,2,3,16,101,361,7,469,1916425729,0,1
335,Weedsport Village,1797,0,0,0,0,0,5,20,0,25,3229209,0,0
336,Wellsville Village,4574,11,0,1,0,10,32,129,3,164,20921476,0,0
337,Westhampton Beach Village,1732,2,0,0,0,2,4,37,3,44,2999824,0,0
338,West Seneca Town,44821,35,1,1,9,24,166,710,20,896,2008922041,1,1
339,Whitehall Village,2604,6,0,0,0,6,12,49,1,62,6780816,0,0
340,White Plains,57559,78,1,3,28,46,77,1134,21,1232,3313038481,1,1
341,Whitesboro Village,3733,4,0,0,0,4,14,21,1,36,13935289,0,0
342,Whitestown Town,9141,0,0,0,0,0,13,61,3,77,83557881,0,0
343,Woodbury Town,10685,3,0,0,2,1,9,529,3,541,114169225,0,1
344,Woodridge Village,829,7,0,0,0,7,8,9,0,17,687241,0,0
345,Woodstock Town,5931,2,0,0,0,2,13,45,0,58,35176761,0,0
346,Yonkers,199134,1036,6,25,390,615,470,1662,236,2368,39654349956,1,1
347,Yorktown Town,36643,15,0,0,2,13,45,287,2,334,1342709449,0,1

In [5]:
#Convert new columns to int
df[['Population^2', 'Murder', 'Robbery_binary']] = df[['Population^2', 'Murder', 'Robbery_binary']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 347
Data columns (total 14 columns):
City                                    347 non-null object
Population                              347 non-null int64
Violent Crime                           347 non-null int64
Murder and Nonnegligent Manslaughter    347 non-null int64
Rape (legacy definition)                347 non-null int64
Robbery                                 347 non-null int64
Aggravated Assault                      347 non-null int64
Burglary                                347 non-null int64
Larceny-Theft                           347 non-null int64
Motor Vehicle Theft                     347 non-null int64
Propertycrime                           347 non-null int64
Population^2                            347 non-null int64
Murder                                  347 non-null int64
Robbery_binary                          347 non-null int64
dtypes: int64(13), object(1)
memory usage: 40.7+ KB

In [6]:
regr = linear_model.LinearRegression()
y = df['Propertycrime'].values.reshape(-1, 1)
x = df[['Population^2', 'Murder', 'Robbery_binary']]
regr.fit(x,y)

# Inspect the results
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:\n', regr.score(x,y))

Coefficients:
 [[1.70507593e-07 3.71055955e+02 2.13004398e+02]]

Intercept:
 [38.65134045]

R-squared:
 0.8282588218885816

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/base.py:509: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

In [7]:
# Cross Validation test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=20)
print('With 30% holdout: ' + str(regr.fit(x_train, y_train,).score(x_test, y_test)))
print('Testing on sample:' + str(regr.fit(x,y).score(x,y)))

With 30% holdout: 0.6753155287671836
Testing on sample:0.8282588218885816

In [8]:
#Inconsistent holdout

In [9]:
# Cross-validation with mutliple folds
from sklearn.model_selection import cross_val_score

cross_val_score(regr, x, y, cv=5)

array([0.93622919, 0.61992638, 0.73406894, 0.87707096, 0.27939938])

In [10]:
#Inconsistent cross validation, must look into features and measure significance
df.head()

,City,Population,Violent Crime,Murder and Nonnegligent Manslaughter,Rape (legacy definition),Robbery,Aggravated Assault,Burglary,Larceny-Theft,Motor Vehicle Theft,Propertycrime,Population^2,Murder,Robbery_binary
0,Adams Village,1861,0,0,0,0,0,2,10,0,12,3463321,0,0
1,Addison Town and Village,2577,3,0,0,0,3,3,20,1,24,6640929,0,0
2,Akron Village,2846,3,0,0,0,3,1,15,0,16,8099716,0,0
3,Albany,97956,791,8,30,227,526,705,3243,142,4090,9595377936,1,1
4,Albion Village,6388,23,0,3,4,16,53,165,5,223,40806544,0,1

In [11]:
# Test for significance in parameters
linear_formula = 'Propertycrime ~ Population+Population^2+Murder+Robbery_binary'

# Fit the model to our data using formula
lm = smf.ols(formula=linear_formula, data=df).fit()

In [12]:
lm.params

Intercept        -108.768
Population         -1.666
Population ^ 2      1.700
Murder             14.084
Robbery_binary    -94.093
dtype: float64

In [13]:
lm.pvalues

Intercept        0.008
Population       0.897
Population ^ 2   0.895
Murder           0.872
Robbery_binary   0.097
dtype: float64

In [14]:
df.head()

,City,Population,Violent Crime,Murder and Nonnegligent Manslaughter,Rape (legacy definition),Robbery,Aggravated Assault,Burglary,Larceny-Theft,Motor Vehicle Theft,Propertycrime,Population^2,Murder,Robbery_binary
0,Adams Village,1861,0,0,0,0,0,2,10,0,12,3463321,0,0
1,Addison Town and Village,2577,3,0,0,0,3,3,20,1,24,6640929,0,0
2,Akron Village,2846,3,0,0,0,3,1,15,0,16,8099716,0,0
3,Albany,97956,791,8,30,227,526,705,3243,142,4090,9595377936,1,1
4,Albion Village,6388,23,0,3,4,16,53,165,5,223,40806544,0,1

In [15]:
# Create new Multivariable linear regression on the following model
# Propertycrime = Robbery_binary + Burglary + Larcenytheft + Motorvehicletheft
# Propertycrime = Robbery + Burglary + Larcenytheft + Motorvehicletheft
# Propertycrime = Robbery_binary + Burglary_binary + Larcenytheft_binary + Motorvehicletheft_binary

In [16]:
# Change name of variables to one word
df['Larcenytheft'] = df['Larceny-Theft']
df = df.drop(columns=['Larceny-Theft'])

df['Motorvehicletheft'] = df['Motor Vehicle Theft']
df = df.drop(columns=['Motor Vehicle Theft'])

In [17]:
df.head()

,City,Population,Violent Crime,Murder and Nonnegligent Manslaughter,Rape (legacy definition),Robbery,Aggravated Assault,Burglary,Propertycrime,Population^2,Murder,Robbery_binary,Larcenytheft,Motorvehicletheft
0,Adams Village,1861,0,0,0,0,0,2,12,3463321,0,0,10,0
1,Addison Town and Village,2577,3,0,0,0,3,3,24,6640929,0,0,20,1
2,Akron Village,2846,3,0,0,0,3,1,16,8099716,0,0,15,0
3,Albany,97956,791,8,30,227,526,705,4090,9595377936,1,1,3243,142
4,Albion Village,6388,23,0,3,4,16,53,223,40806544,0,1,165,5

In [18]:
# Propertycrime = Robbery_binary + Burglary + Larcenytheft + Motorvehicletheft
regr = linear_model.LinearRegression()
a = df['Propertycrime'].values.reshape(-1, 1)
b = df[['Robbery_binary', 'Burglary', 'Larcenytheft', 'Motorvehicletheft']]
regr.fit(a,b)

# Inspect the results
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:\n', regr.score(a,b))

Coefficients:
 [[1.26560102e-04]
 [2.50146661e-01]
 [6.87755598e-01]
 [6.20977407e-02]]

Intercept:
 [  0.5506028  -24.32170443  33.6910277   -9.36932327]

R-squared:
 0.9843468966715793

In [19]:
# Test for significance in parameters
linear_formula = 'Propertycrime ~ Robbery_binary+Burglary+Larcenytheft+Motorvehicletheft'

# Fit the model to our data using formula
lm = smf.ols(formula=linear_formula, data=df).fit()

In [20]:
lm.params

Intercept            0.000
Robbery_binary      -0.000
Burglary             1.000
Larcenytheft         1.000
Motorvehicletheft    1.000
dtype: float64

In [21]:
lm.pvalues

Intercept           0.000
Robbery_binary      0.000
Burglary            0.000
Larcenytheft        0.000
Motorvehicletheft   0.000
dtype: float64