In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import scipy
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action='ignore', module='scipy', message='^internal gelsd')

In [2]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [3]:
df.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0

In [4]:
df.tail()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
350,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
351,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Table 8', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [6]:
df.shape

(355, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 13 columns):
Table 8        355 non-null object
Unnamed: 1     349 non-null object
Unnamed: 2     349 non-null object
Unnamed: 3     349 non-null object
Unnamed: 4     1 non-null object
Unnamed: 5     350 non-null object
Unnamed: 6     349 non-null object
Unnamed: 7     349 non-null object
Unnamed: 8     349 non-null object
Unnamed: 9     349 non-null object
Unnamed: 10    349 non-null object
Unnamed: 11    349 non-null object
Unnamed: 12    188 non-null object
dtypes: object(13)
memory usage: 36.1+ KB

In [8]:
# Delete first three rows
# Make first row the column headers
# Remove entire Unnamed: 4 or 'Rape revised defintion'
# Remove null objects
# Convert all columns from object to integer values
# conduct visualisations to evaluate extreme data points

In [9]:
# Delete first three rows
df = df.drop([0,1,2], axis=0)

# Make first row the column headers
df = df.reset_index(drop=True)
df.columns = df.iloc[0]
df = df.drop([0], axis=0)
df = df.reset_index(drop=True)

# Rename all column headers
df.columns = ['City', 'Population', 'Violent Crime', 'Murder and Nonnegligent Manslaughter', 'Rape (revised definition)', 'Rape (legacy definition)', 'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary', 'Larceny-Theft', 'Motor Vehicle Theft', 'Arson']

# Remove entire Unnamed: 4 or 'Rape revised defintion'
df = df.drop('Rape (revised definition)', axis=1)

# Remove null objects
df = df.drop([348, 349, 350], axis=0)
df = df.drop('Arson', axis=1)
df = df.dropna(how='all')

# Convert all columns from object to integer values
df[['Population', 'Violent Crime',
       'Murder and Nonnegligent Manslaughter', 'Rape (legacy definition)',
       'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary',
       'Larceny-Theft', 'Motor Vehicle Theft']] = df[['Population', 'Violent Crime',
       'Murder and Nonnegligent Manslaughter', 'Rape (legacy definition)',
       'Robbery', 'Aggravated Assault', 'Property Crime', 'Burglary',
       'Larceny-Theft', 'Motor Vehicle Theft']].astype(int)

# Remove New York and buffalo from data because it skews the data. Although the data is correct
df[df['City'] == 'New York']
df = df[df['City']!='New York']

In [10]:
# Create Features: Population^2, Murder binary, Robbery, binary
# More specifically, create binary categories for murder and robery
df['Population^2'] = df['Population']**2
df['Murder'] = np.where(df['Murder and Nonnegligent Manslaughter']>0, '1', '0')
df['Robbery_binary'] = np.where(df['Robbery']>0, '1', '0')
df

,City,Population,Violent Crime,Murder and Nonnegligent Manslaughter,Rape (legacy definition),Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Population^2,Murder,Robbery_binary
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,3463321,0,0
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,6640929,0,0
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,8099716,0,0
3,Albany,97956,791,8,30,227,526,4090,705,3243,142,9595377936,1,1
4,Albion Village,6388,23,0,3,4,16,223,53,165,5,40806544,0,1
5,Alfred Village,4089,5,0,0,3,2,46,10,36,0,16719921,0,1
6,Allegany Village,1781,3,0,0,0,3,10,0,10,0,3171961,0,0
7,Amherst Town,118296,107,1,7,31,68,2118,204,1882,32,13993943616,1,1
8,Amityville Village,9519,9,0,2,4,3,210,16,188,6,90611361,0,1
9,Amsterdam,18182,30,0,0,12,18,405,99,291,15,330585124,0,1
10,Arcade Village,2053,0,0,0,0,0,39,3,35,1,4214809,0,0
11,Ardsley Village,4523,5,0,0,3,2,33,4,28,1,20457529,0,1
12,Asharoken Village,658,0,0,0,0,0,2,0,2,0,432964,0,0
13,Attica Village,2522,2,0,0,0,2,5,0,4,1,6360484,0,0
14,Auburn,27270,96,1,20,22,53,859,132,721,6,743652900,1,1
15,Avon Village,3333,1,0,0,1,0,25,3,20,2,11108889,0,1
16,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1,55845729,0,1
17,Ballston Spa Village,5418,8,0,0,3,5,94,16,78,0,29354724,0,1
18,Batavia,15374,57,0,7,13,37,559,103,454,2,236359876,0,1
19,Bath Village,5733,15,0,1,3,11,191,32,157,2,32867289,0,1
20,Bedford Town,17627,5,0,0,1,4,156,26,127,3,310711129,0,1
21,Bethlehem Town,34243,13,0,0,3,10,442,50,388,4,1172583049,0,1
22,Binghamton,46304,284,3,19,101,161,2349,525,1767,57,2144060416,1,1
23,Black River,1410,0,0,0,0,0,14,2,12,0,1988100,0,0
24,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7,144024001,0,0
25,Bolivar Village,1022,1,0,0,0,1,4,2,2,0,1044484,0,0
26,Bolton Town,2325,2,0,0,0,2,24,4,20,0,5405625,0,0
27,Boonville Village,2054,1,0,0,0,1,20,6,14,0,4218916,0,0
28,Brant Town,2065,4,0,0,1,3,31,9,20,2,4264225,0,1
29,Brewster,2358,0,0,0,0,0,13,3,10,0,5560164,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2,13264164,0,0
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,378225,0,0
320,Ulster Town,12195,14,0,3,2,9,437,25,410,2,148718025,0,1
321,Utica,61686,361,7,27,102,225,2528,449,1997,82,3805162596,1,1
322,Vestal Town,27980,16,0,2,6,8,571,39,523,9,782880400,0,1
323,Walden Village,6887,18,1,2,1,14,142,13,124,5,47430769,1,1
324,Wallkill Town,27940,40,0,3,16,21,767,91,650,26,780643600,0,1
325,Walton Village,3012,6,0,1,0,5,68,18,50,0,9072144,0,0
326,Warsaw Village,3453,6,0,1,0,5,78,5,73,0,11923209,0,0
327,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2,33965584,0,1
328,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1,70425664,0,0
329,Waterloo Village,5175,11,0,0,3,8,194,23,169,2,26780625,0,1
330,Watertown,28179,109,0,12,16,81,1165,169,953,43,794056041,0,1
331,Watervliet,10245,26,1,3,11,11,242,58,163,21,104960025,1,1
332,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2,3467044,0,0
333,Waverly Village,4337,5,0,0,1,4,54,9,41,4,18809569,0,1
334,Webster Town and Village,43777,21,0,2,3,16,469,101,361,7,1916425729,0,1
335,Weedsport Village,1797,0,0,0,0,0,25,5,20,0,3229209,0,0
336,Wellsville Village,4574,11,0,1,0,10,164,32,129,3,20921476,0,0
337,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3,2999824,0,0
338,West Seneca Town,44821,35,1,1,9,24,896,166,710,20,2008922041,1,1
339,Whitehall Village,2604,6,0,0,0,6,62,12,49,1,6780816,0,0
340,White Plains,57559,78,1,3,28,46,1232,77,1134,21,3313038481,1,1
341,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1,13935289,0,0
342,Whitestown Town,9141,0,0,0,0,0,77,13,61,3,83557881,0,0
343,Woodbury Town,10685,3,0,0,2,1,541,9,529,3,114169225,0,1
344,Woodridge Village,829,7,0,0,0,7,17,8,9,0,687241,0,0
345,Woodstock Town,5931,2,0,0,0,2,58,13,45,0,35176761,0,0
346,Yonkers,199134,1036,6,25,390,615,2368,470,1662,236,39654349956,1,1
347,Yorktown Town,36643,15,0,0,2,13,334,45,287,2,1342709449,0,1