In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
regress = pd.DataFrame()
regress['Holdout-Groups'] = ['20% Test Set', 'cv 1', 'cv 2', 'cv 3', 'cv 4', 'cv 5', 'range']
regress['Linear Regression Scores'] = ['0.9049', '0.9280', '0.9083', '0.9318', '0.9605', '0.9180', '0.0522']
regress['Gradient Boosted Regression Scores'] = ['0.8963', '0.9222', '0.9140', '0.9129', '0.9276', '0.9223', '0.0146']
regress = regress.set_index('Holdout-Groups')
regress

               Linear Regression Scores Gradient Boosted Regression Scores
Holdout-Groups
20% Test Set                     0.9049                             0.8963
cv 1                             0.9280                             0.9222
cv 2                             0.9083                             0.9140
cv 3                             0.9318                             0.9129
cv 4                             0.9605                             0.9276
cv 5                             0.9180                             0.9223
range                            0.0522                             0.0146

In [3]:
0.9605-0.9083

0.052200000000000024

In [4]:
0.9276-0.9129

0.014699999999999935

In [5]:
classification = pd.DataFrame()
classification['Holdout-Groups'] = ['20% Test Set', 'Type I error', 'Type II error']
classification['Gradient Boosted Classification Score'] = ['0.9810', '0.00%', '4.62%']
classification['Random Forest Classification Scores'] = ['0.9683', '1.07%', '6.15%']
classification = classification.set_index('Holdout-Groups')
classification

,Gradient Boosted Classification Score,Random Forest Classification Scores
Holdout-Groups,,
20% Test Set,0.9810,0.9683
Type I error,0.00%,1.07%
Type II error,4.62%,6.15%