__1. What are the three longest trips on rainy days?__

WITH
    rainy
AS (
    SELECT
        Date,
        Events
    FROM
        weather
	WHERE
		Events = 'Rain'
    GROUP BY 1
)

SELECT
	Events,
	DATE(start_date) trip_date,
	duration
FROM
    trips
JOIN
	rainy
ON
	rainy.Date = trip_date
ORDER BY duration DESC
LIMIT 3

__2. Which station is full most often?__

WITH
	docks
AS (
	SELECT
		station_id,
		COUNT(*) full_stations
	FROM
		status
	WHERE
		docks_available = 0
	GROUP BY 1
)

SELECT
	d.full_stations,
	s.name
FROM
	docks d
JOIN
	stations s
ON
	d.station_id = s.station_id
ORDER BY d.full_stations DESC
LIMIT 1

__3. Return a list of stations with a count of number of trips starting at that station but ordered by dock count.__

SELECT
	start_station,
	dockcount,
	COUNT(*)
FROM
	trips
JOIN
	stations
ON
	stations.name = trips.start_station
GROUP BY 1, 2
ORDER BY 2 DESC

__4. (Challenge) What's the length of the longest trip for each day it rains anywhere?__

WITH rainy 
	AS (
		SELECT 
			date
		FROM weather
		WHERE events = 'Rain'
		GROUP BY 1
),

rain_trips AS (
	SELECT
		trip_id,
		duration,
	DATE(start_date) trip_date
	FROM trips
	JOIN rainy
	ON rainy.date = trip_date
	ORDER BY duration DESC
)

SELECT 
	trip_date,
	max(duration)
FROM rain_trips
GROUP BY 1