In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
# Set up the data
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  71.263545  201.318283
1   male  80.320333  192.023009
2   male  73.433106  165.194091
3   male  55.614607  221.967467
4   male  76.008550  211.568071

In [4]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    67.108740  179.346461
std      6.966841   25.844412
min     50.374322  128.156221
25%     62.268342  160.963087
50%     66.292938  173.596732
75%     71.042881  195.621295
max     88.021675  242.932233

In [5]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  63.737369  4.996379  50.374322  60.619094  64.028401
male    100.0  70.480112  7.045446  55.614607  66.002127  69.861735

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  66.663447  74.857213  100.0  163.135351  11.550872  132.906606
male    74.627632  88.021675  100.0  195.557572  26.043850  128.156221


               25%         50%         75%         max
gender
female  155.984958  162.604803  169.869272  190.751429
male    178.420730  195.760840  211.973338  242.932233

In [6]:
data.gender.value_counts()

female    100
male      100
Name: gender, dtype: int64

In [9]:
data.weight.value_counts().head()

173.566888    1
144.206642    1
200.456442    1
237.395436    1
180.660451    1
Name: weight, dtype: int64