In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('results.csv')

In [3]:
# Data Cleaning

# Drop ctz and state column
df = df.drop(['ctz', 'state'], 1)

# Drop row in city where there's a null value
df = df.dropna(subset=['city'])

# Replace values that represent null
df = df.replace('-', np.nan)

# Convert types to numeric
df[['10k', '25k', '35k', '30k', '5k', 'half', '20k', '40k']] = df[['10k', '25k', '35k', '30k', '5k', 'half', '20k', '40k']].apply(pd.to_numeric)

# Impute null with means
df = df.fillna(df.mean())

# Create features
features = df.drop(['city', 'division', 'name','bib', 'country', 'genderdiv'], 1)

# Make categorical variables numeric using label encoder
labelencoder = LabelEncoder()
labelencoder.fit(features['gender'])
features['gender'] = labelencoder.transform(features['gender'])

In [4]:
features.head()

,10k,25k,gender,age,official,35k,overall,pace,30k,5k,half,20k,40k
0,17.37,47.67,1,47,85.25,71.40,8,3.27,59.18,8.02,39.72,37.65,80.43
1,32.58,82.43,0,33,138.95,116.37,21,5.30,99.33,16.22,69.47,65.83,132.10
2,16.62,45.80,1,41,80.60,67.42,1,3.08,56.45,7.75,38.03,36.10,76.10
3,32.57,82.43,0,24,140.58,116.37,27,5.37,99.33,16.20,69.47,65.83,132.95
4,17.12,46.37,1,40,81.23,67.83,2,3.10,57.03,8.02,38.60,36.58,76.72

In [6]:
# Instantiate KMeans Cluster Algorithm
prediction = KMeans(n_clusters=4, random_state=42).fit_predict(features)